{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div style="margin: 10px auto; text-align: center">
  <h1>Get photos directly from the user's camera.</h1>

  <form action="/showphoto/" method="post" enctype="multipart/form-data">
  	  {% csrf_token %}
	  <p></p>
	  <div class="form-group" style="margin: auto; width: 25%;">
	    <input type="file" class="form-control-file" name="dl_picture" accept="image/*;capture=camera" required>
	  </div>
	  <p></p>
	  <button type="submit" class="btn btn-primary" style="margin: 20px auto">See the photo you took</button>

  </form>

</div>
{% endblock %}
